.be-big{
  font-size: 2em;
}
.be-ultra-big{
  font-size: 46px;
}
.bold{
  font-weight: bold;
}
.slim{
  font-weight: 300;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-justify{
  text-align: justify;
}
.no-margin{
  marign:0px;
}
.inline-block{
  display: inline-block;
}
