@import './modules/variables.scss';
@import './modules/mixins.scss';
@import './modules/common.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css');
body{
  margin:0px;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  padding-bottom: 80px;
  // background-color: map-get($colors,grey);
}

a{
  color: inherit;
  &:visited{
    color:inherit;
  }
}

img{
  max-width: 100%;
}

.app-btn{
  padding: 20px;
  border-radius:20px;
  box-sizing: border-box;
  background-color: map-get($colors,green);
  color: map-get($colors,black);
  text-transform: uppercase;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius:16px;
  padding:20px;
  .title{
    margin:1em 0;
    text-transform: uppercase;
    font-size: 1em;
  }
  &.border-red{
    border-top:solid 20px map-get($colors,red);
    .title{
      color:map-get($colors,red);
    }
  }
  &.border-blue{
    border-top:solid 20px map-get($colors,blue);
    .title{
      color:map-get($colors,blue);
    }
  }
  &.border-green{
    border-top:solid 20px map-get($colors,dark-green);
    .title{
      color:map-get($colors,dark-green);
    }
  }

  ul{
    min-height: 420px;
  }
  .app-btn{
    width: 100%;
    display: block;
    text-align: center;

  }
  .small{
    margin:0px;
    text-align: center;
    color:map-get($colors,grey);
  }
}
section.slider{
  background-color: #f5f5f5;
  padding:2em 0;

}
.row{margin:0px;}
.infinite-width{
  overflow-x: scroll;

  .content{
    white-space: nowrap;
    *{white-space: normal;}
    .card{
      display: inline-block;
      vertical-align: top;
      min-height: 150px;
      font-weight: 200;
      width: 300px;
      background-color:white;
      margin:1em 15px;
      @include center-vertical-horizontal;
      display: inline-flex;
      text-align: left;
      &:nth-of-type(odd){
        background: white;
      }
      p{
        margin:0px;
        &.small{
          text-align: left;
        }
        &:not(.small){font-weight: bold;}
      }

    }
  }
}


a.blue-text{
  text-decoration: underline;
}

.main-header{
  padding: $big-padding;
}

.radius{
  border-radius:$border-radius;
}

.large-padding{
  padding:$large-padding;
}

.top-space{
  margin-top:$default-margin-top;
}

.big-top-space{
  margin-top: $big-margin-top;
}
.small{
  font-size: $small;
}

@media(min-width:1400px){
  .card{
    ul{
      min-height: 300px !important;
    }
  }
}

@media(max-width: 1000px){
  .prices{
    .card{
      margin-top: 1.5em;
      ul{
        min-height: 280px;
      }
    }
  }
}

@media(max-width: 600px){
  h1{
    font-size: 3em;
  }
  a.blue-text{
    margin-top: 2em;
    display: block;
  }
  .prices{
    .card{
      margin-top: 1.5em;
    }
  }
  .main-image{
    margin-top: 2em;
  }
}
